.container {
    display: grid;
    grid-gap: 5px;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:
        "m m h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}
.header {
    grid-area: h;
    text-align: center;
    background-color: yellow;
}

.menu {
    grid-area: m;
    text-align: center;
    background-color: red;
}

.content {
    grid-area: c;
    text-align: center;
    background-color: blue;
}

.info {
    grid-area: i;
    text-align: center;
    background-color: orange;
    display: none;
}

.footer {
   grid-area: f;
   text-align: center;
   background-color: yellow;
}

.panel {
    float: left;
    width: 400px;
    height: 400px;
    margin: 20px;
    position: relative;
    font-size: .8em;

    -webkit-perspective: 600px;
            perspective: 600px;
}

 /* -- make sure to declare a default for every property that you want animated -- */
  /* -- general styles, including Y axis rotation -- */
  .panel .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    border: 1px solid #ccc;
    background: #6b7077;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);

    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
  }
  .panel.flip .front {
    z-index: 900;
    border-color: #eee;
    background: #333;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);

    -webkit-transform: rotateY(179deg);
            transform: rotateY(179deg);
  }

  .panel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 1px solid #ccc;
    background: #333;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

    -webkit-transform: rotateY(-179deg);
            transform: rotateY(-179deg);

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
  }

  .panel.flip .back {
    z-index: 1000;
    background: #80868d;

    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);

    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
  }

.card {
    padding: 2px 16px;
}

@media screen and (min-width: 400px) {
    .container {
        grid-template-areas:
            "h h m m m m m m m m m m"
            "i i c c c c c c c c c c"
            "i i c c c c c c c c c c";
    }
    .info {
        display: block;
    }

    .footer {
        display: none;
    }
}