* {
    margin: 0;
}
ul {
    list-style: none;
    padding-left: 5px;
}
li {
    margin: 20px 0;
}
.container {
    display: grid;
    grid-gap: 0px;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10vh 70vh 20vh;
    grid-template-areas:
        "m m h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}
.header {
    grid-area: h;
    text-align: center;
    background-color: yellow;
}

.menu {
    grid-area: m;
    text-align: center;
    background-color: red;
    display: block;
}
button {
    background-color: #1E88E5;
    border: none;
    border-radius: 2px;
    color: white;
    margin: 10px 5px 0px 5px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.2s;
}
button:hover {
    box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2);
    cursor: pointer;
}
.content {
    grid-area: c;
    text-align: center;
    background-color: blue;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.info {
    grid-area: i;
    display: none;
}

.footer {
   grid-area: f;
   text-align: center;
   background-color: yellow;
}

.panel {
    width: 200px;
    height: 400px;
    margin: 20px;
    font-size: .8em;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    perspective: 900px;
}

 .panel:hover {
     transform: scale(1.03);
     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }

.front, .back {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    backface-visibility: hidden;
    transform-style: preserve3d;
    transition: all 0.4s;
  }
  
  .front {
    background: teal;
  }
  
  .back {
    background: red;
  }
  
  .back {
    transform: rotateY(-180deg);
  }
  
  .flipped .back { 
    transform: rotateY(0deg); 
    position: absolute; 
    transform: translate3d(100px, 50px, 10px); 
  } 
   
  .flipped .front { 
    transform: rotateY(180deg); 
    position: absolute; 
    transform: translate3d(100px, 50px, 10px); 
  } 

.card {
    padding: 2px 16px;
}

@media screen and (min-width: 650px) {
    .container {
        grid-template-areas:
            "h h m m m m m m m m m m"
            "i i c c c c c c c c c c"
            "i i c c c c c c c c c c";
    }
    .info {
        text-align: left;
        background-color: orange;
        overflow: scroll;
        display: block;
    }

    .footer {
        display: none;
    }
}